LFM_MODEL=LiquidAI/LFM2.5-350M
OPENDECIDER_MODEL=manjunathshiva/opendecider-nano
MODEL_DEVICE=
DIRECT_MAX_CHARS=500
DEFAULT_CONFIDENCE_THRESHOLD=0.75
MAX_STATE_CHARS=20000
MAX_OPTIONS=32
MAX_CONCURRENT_INFERENCE=1
INFERENCE_TIMEOUT_SECONDS=120
